<div class="main horses-information">
  <div class="container">
    <h1 class="horses-heading"><%= @horse.name %>についてのデータベース</h1>
    <p>競走馬名・・・<%= @horse.name %>号</p>
    <p>性別・・・<%= @horse.sex %></p>
    <p>毛色・・・<%= @horse.color %></p>
    <p>父・・・<%= @horse.sire_name %></p>
  </div>
</div>
