<div class="books_info">
  <h3>検索結果</h3>
  <div style="padding: 30px;">
    <table border="1">
      <thead>
        <tr>
          <th>書籍名</th>
          <th>価格</th>
          <th>出版社</th>
          <th>画像</th>
        </tr>
      </thead>
      <tbody>
      <%= puts "hogehoge" %>
        <% @books.each do |book| %>
            <tr>
              <td><%= book["title"] %></td>
              <td><%= book["item_price"] %>円</td>
              <td><%= book["publisher_name"] %></td>
              <td><%= link_to (image_tag(book["large_image_url"])), book["item_url"], class: 'hoge' %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>